# Data Preprocessing

In [52]:
import numpy as np
import pandas as pd

In [53]:
names = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI','DiabetesPedigreeFunction','Age','Outcome']

In [60]:
dataset=pd.read_csv(r"C:\Users\Hemant\Downloads\pima-indians-diabetes.csv",header=None,names=names)

In [55]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [36]:
dataset.shape

(768, 9)

So here now seeing which column is having null values in it so we can either remove them or fill it

In [56]:
num_missing=(dataset[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI','DiabetesPedigreeFunction','Age','Outcome']]==0).sum()
print(num_missing)

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [57]:
from numpy import nan

In [38]:
zero_values=dataset[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin']].replace(0,nan)  #here 0 values are replaced by NAN so verifying it with the upper result

In [39]:
print(zero_values.isnull().sum())

Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
dtype: int64

In [40]:
zero_values.head()

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin
0          6.0    148.0           72.0           35.0      NaN
1          1.0     85.0           66.0           29.0      NaN
2          8.0    183.0           64.0            NaN      NaN
3          1.0     89.0           66.0           23.0     94.0
4          NaN    137.0           40.0           35.0    168.0

In [44]:
dataset[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin']] = dataset[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin']].replace(0, nan)
# print the first 20 rows of data
print(dataset.head(10))

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0          6.0    148.0           72.0           35.0      NaN  33.6
1          1.0     85.0           66.0           29.0      NaN  26.6
2          8.0    183.0           64.0            NaN      NaN  23.3
3          1.0     89.0           66.0           23.0     94.0  28.1
4          NaN    137.0           40.0           35.0    168.0  43.1
5          5.0    116.0           74.0            NaN      NaN  25.6
6          3.0     78.0           50.0           32.0     88.0  31.0
7         10.0    115.0            NaN            NaN      NaN  35.3
8          2.0    197.0           70.0           45.0    543.0  30.5
9          8.0    125.0           96.0            NaN      NaN   0.0

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
5                     0.201   30        0
6                     0.248   26        1
7                     0.134   29        0
8                     0.158   53        1
9                     0.232   54        1

In [51]:
# dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, nan)
# # print the first 20 rows of data
# print(dataset.head(20))

# So now we will drop rows with missing values

In [45]:
dataset.shape

(768, 9)

In [46]:
dataset.dropna(inplace=True)
# summarize the shape of the data with missing rows removed
print(dataset.shape)

(336, 9)

# Impute Missing Values

In [47]:
dataset.fillna(dataset.mean(),inplace=True)

In [48]:
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# inbuit methods from sklearn

In [58]:
#  imputing missing values
from numpy import nan
from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer


values = dataset.values
# define the imputer
imputer = SimpleImputer(missing_values=nan, strategy='mean')
# transform the dataset
transformed_values = imputer.fit_transform(values)
# count the number of NaN values in each column
print('Missing: %d' % isnan(transformed_values).sum())

Missing: 0

In [62]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [63]:
array = dataset.values
X = array[:,0:8]
Y = array[:,8]
# feature extraction
model = LogisticRegression(solver='lbfgs')
rfe = RFE(model, 3)
fit = rfe.fit(X, Y)
print("Num Features: %d" % fit.n_features_)
print("Selected Features: %s" % fit.support_)
print("Feature Ranking: %s" % fit.ranking_)

C:\Users\Hemant\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

Num Features: 3
Selected Features: [ True False False False False  True  True False]
Feature Ranking: [1 2 4 5 6 1 1 3]

In [66]:
from sklearn.ensemble import RandomForestClassifier

from dataset import load_occupancy
from model_selection import FeatureImportances

# Load the classification data set
X, y = load_occupancy()

model = RandomForestClassifier(n_estimators=10)
viz = FeatureImportances(model)
viz.fit(X, y)
viz.show()

ModuleNotFoundError: No module named 'dataset'